<div class="sidebar-nav accountSidebarMin">
  <div class="idTabs">
    <ul class="nav nav-list">
      <li><a href="#idTab1"><i class="icon-user icon-user-custom"></i>Profile</a></li>
      <li><a href="#idTab2"><i class="icon-locked"></i>Change Password</a></li>
      <li><a href="#idTab3"><i class="icon-users"></i>Users</a></li>
      <li><a href="#idTab4"><i class="icon-credit-card"></i>Billing</a></li>
      <li><a href="#idTab5"><i class=" icon-plus"></i>Change Plans</a></li>
    </ul>
  </div>
</div><!--/.sidebar-nav -->