<div class="changePlan rightContent">
  <div class="row-fluid">        
    <div class="partner">
      <div class="borderwith">

        <h3>PARTNER</h3>
        <div class="letterStyle"><br/>
          <p>always</p>
          <i>$</i>
          <i class="i2l">0<sub>/mo</sub></i>
        </div>
        <!--End of changePlan-->
        <ul>
          <li>Full features</li>
          <li>Online support</li>
          <li class="libg2">Upgrade account to deploy maps</li>
          <li class="libg2">No analytics</li>
        </ul>
        <button type="submit" class="btn btn-custom position">Sign up</button>

      </div>
      <!--End of borderwith-->
    </div>
    <!--End of partner-->

    <div class="partner">
      <div class="borderwith">

        <h3>PARTNER</h3>
        <div class="letterStyle"><br/>
            <p>starting from</p>
            <i>$</i>
            <i class="i2l">29<sub>/mo</sub></i>
        </div>
        <!--End of changePlan-->
        <ul>
            <li>10,000 map views/month</li>
            <li>Online support</li>
            <li>Deploy to web, mobile, tablet, kiosk</li>
            <li class="libg2">No analytics</li>
            <li class="libg2">poweredbyDRA logo on maps</li>
        </ul>
        <button type="submit" class="btn btn-custom position">Cancel</button>

      </div>
      <!--End of borderwith-->
    </div>
    <!--End of partner-->

    <div class="partner">
      <div class="borderwith">

        <h3>PARTNER</h3>
        <div class="letterStyle"><br/>
            <p>starting from</p>
            <i>$</i>
            <i class="i2l">149<sub>/mo</sub></i>
        </div>
        <!--End of changePlan-->
        <ul>
            <li>300,000 map views/month</li>
            <li>Online support</li>
            <li>Dashboard analytics</li>
            <li>Branding-free maps</li>
            <li>Deploy to web, mobile, tablet, kiosk</li>
        </ul>
        <button type="submit" class="btn btn-custom position">Sign up</button>

      </div>
      <!--End of borderwith-->
    </div>
    <!--End of partner-->

    <div class="partner">
      <div class="borderwith">
          
        <h3>PARTNER</h3>
        <div class="letterStyle"><br/>
            <p>starting from</p>
            <i>$</i>
            <i class="i2l">449<sub>/mo</sub></i>
        </div>
        <!--End of changePlan-->
        <ul>
            <li>10,000 map views/month</li>
            <li>Dedicated support</li>
            <li>Dashboard analytics</li>
            <li>Branding-free maps</li>
            <li>Deploy to web, mobile, tablet, kiosk</li>
        </ul>
        <button type="submit" class="btn btn-custom position">Sign up</button>

      </div>
      <!--End of borderwith-->
    </div>
    <!--End of partner-->

   </div>
   <!--End of row-fluid-->
</div>
<!--End of changePlane-->