<div class="rightContent">

<table width="0" border="0" cellspacing="0" cellpadding="0" class="table userTable" id="tabs-1">
  <tr>
    <th width="17%" colspan="5" class="bodernone">Users</th>
    <th width="20%" valign="middle" class="bodernone">Invite User <a class="btn btn-invite" type="button" data-toggle="modal" data-target="#modal4" ><i class="icon-plus"></i><i class="icon-users"></i></a></th>
  </tr>
  <tr>
    <td colspan="6" class="nohover">
      <table width="0" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th width="17%" class="secondth pad0 bodernone">Accounts</th>
            <th width="17%" class="secondth bodernone">Name</th>
            <th width="14%" class="secondth bodernone">Email Address</th>
            <th width="11%" class="secondth bodernone">Role</th>
            <th width="9%" class="secondth bodernone">Status</th>
            <th width="17%" valign="middle" class="secondth bodernone"></th>
          </tr>
        </table>
    </td>
  </tr>

  <% @user = %w[foo bar baz taz tar] %>

  <%= render partial: 'profiles/user_mini', collection: @user %>

</table>

</div>
<!--End of rightContent--> 