<div class="rightContent" id="tabs-2">
  <div class="changePassForm span7">
    <h2 class="accounth2">Change Password</h2>
      <form>
        <fieldset>
        <label><i>Old Password</i></label>
        <input type="password" class="span12">
        <label><i>New Password</i></label>
        <input type="password" class="span12">
        <label><i>Confirm New Password</i></label>
        <input type="password" class="span12">
         <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-custom">CHANGE PASSWORD</button>
            </div>
         </div>
        </fieldset>
      </form>
  </div>
  <!--End of changePassForm-->
</div>
<!--End of rightContent-->