<tr>
  <td colspan="6">

<table width="0" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="17%" class="pad0">Simon Property Group, Inc</td>
  <td width="17%">Aaron Carter</td>
  <td width="14%"><a href="mailto:acarter@simon.com" class="emailLink"><i>&nbsp;</i>acarter@simon.com</a></td>
  <td width="11%" >Role</td>
  <td width="9%"><button class="btn btn-mini btn-active" type="button">active</button></td>
  <td width="17%">
    <a class="btn btn-comment" type="button" data-toggle="collapse" href="#collapse-<%= user_mini %>"><i class="icon-comment"></i></a>
     <a class="btn btn-delete" type="button"><i class="icon-trashcan"></i></a>
  </td>
</tr>
</table>

<table width="0" border="0" cellspacing="0" cellpadding="0">
<tr class="accordion">
  <td class="pad0">
    <div id="collapse-<%= user_mini %>" class="accordion-body collapse">
        <div class="accordion-inner pull-left custom-inner span5">
          <form class="form-horizontal">
            <div class="control-group custom-control">
              <fieldset class="topFieldset">
                <label>Account</label>
                <input type="text" placeholder="Simon Property Group, Inc" class="span12">
                <label>Name</label>
                <input type="text" placeholder="Frank Sinatra <%= user_mini %>" class="span12">
                <label>Email Address</label>
                <input type="text" placeholder="fsinatra@simon.com" class="span12">
              </fieldset>
            </div>
            <!--End of control-group-->

            <div class="control-group custom-control">
                <label class="control-label" for="Role">Role</label>
                <div class="span7">
                    <div class="controls">
                        <span class="customchk1"><input name="chk-1" type="radio" value="1" class="styledRadio"></span>                         
                        <p class="spanP spanP1">Administrator</p>
                    </div>
                    <div class="controls">
                        <span class="customchk1"><input name="chk-1" type="radio" value="1" class="styledRadio"></span>                         
                        <p class="spanP spanP1">Team Agent</p>
                    </div>
                    <div class="controls">
                        <span class="customchk1"><input name="chk-1" type="radio" value="2" class="styledRadio"></span>     
                        <p class="spanP spanP1">Team Member</p> 
                    </div>
                    <div class="controls">
                        <span class="customchk1"><input name="chk-1" type="radio" value="1" class="styledRadio"></span>                         
                        <p class="spanP spanP1">Observer</p>
                    </div>
                 </div>
            </div>
            <!--End of control-group-->

            <div class="control-group custom-control">
                <label class="control-label" for="password reset">Password Reset</label>
                <div class="span7">
                    <div class="controls">
                        <a type="button" class="btn btn-invite">Reset</a>
                    </div>
                </div>
            </div>
            <!--End of control-group-->
          </form>
        </div>
        <div class="span3 pull-right actionBtns"></div>
    </div>
        </td>
    </tr>
</table>

  </td>
</tr>