<footer class="row-fluid">
    <div class="row-fluid footerBottom pagination-centered">
    	<%= link_to image_tag("footer-logo.png", alt: "Powered by DRA", class: "footerLogo"), '#' %>
    	COPYRIGHT © 2012 ALL RIGHTS RESERVED. SYNERGY MEDIA CORP.
    	<%= link_to(@contact_path) do %>
    		<em class="contatUs">Contact Us</em>
		<% end %>
    </div>        
</footer>