<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button class="btn btn-leftsider-toggle" data-toggle="button"><i class="icon-pencil"></i></button>
      <!--<i class="icon-pencil icon-pencil-custom"></i>-->
      <a class="brand map-brand span5" href="#">
      	<em>Coquitlam Centre</em><button class="btn btn-not-strated" type="button">NOT STARTED</button><br/>
        <p>last updated 2012.11.12 <i>(9 days ago)</i> by Franca Aere</p>
      </a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li><a href="#"><i class="icon-house icon-white"></i>DASHBOARD</a></li>
          <li><a href="#VENUES"><i class="icon-location"></i>VENUES</a></li>
          <li><a href="#CONTENT"><i class="icon-bookmark"></i>CONTENT</a></li>
          <li><a href="#ACCOUNT"><i class="icon-cog"></i>ACCOUNT</a></li>
          <li class="active"><a href="#LogOUT"><i class="icon-user icon-user-custom"></i>LogOUT</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>