<% provide(:title, @vendor.name) %> 
<h1><%= @vendor.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <ul>
      <li>Email: <%= @vendor.contact_email %></li>
      <li>Website: <%= @vendor.website %></li>
    </ul>
    <%= link_to 'Edit', edit_vendor_path(@vendor), :class => "btn btn-primary" %>
  </div>
</div>
