/* map-buttons */
body.l-mapbuilder {
  font-family: helveticaregular;

  .icon-minus-extra {
    background-position: 0px -164px;
  }
  .icon-plus-extra {
    background-position: -24px -164px;
  }
  .icon-map {
    background-position: -49px -164px;
  }
  .icon-split {
    background-position: -72px -163px;
  }
  #mapbuttons {
    .btn {
      padding: 4px 6px;

      [class^="icon-"], .btn [class*=" icon-"] {
        background-image: image-url("glyphicons-halflings.png");
      }
    }

    width: 120px;
    margin: 8px 0 0 10px;
    position: fixed;
    z-index: 10;

  }

  /* map_drawarea */
  #map_area {
    position: absolute;
    left: 0px;
    top: 80px;
    bottom: 0px;
    right: 0px;
    width: auto;
  }
  #map_openmaparea {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 100%;
  }
  .grid {
    background: image-url("grid_bg.png") repeat;
  }
  #map_svgarea {
    position: absolute;
    background: transparent;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
  }
  #map_svgdata > object {

  }
  .longitude-latitude button, .longitude-latitude button:hover {
    padding-top: 4px;
    padding-bottom: 4px;
  }


  .navbar-inverse {

    .map-brand {
      margin:20px 0 0 0;
      padding-left: 20px;

      em {
        font-weight:normal;
        font-size:24px;
        color:#fff;
      }

      p {

        i {
          font-style:italic;
        }

        color:#fff;
        font-size:13px;
        font-size:13px;
      }

    }

  }

  .mapBuilderContainer {
    background:#fff;
    padding:0 !important;
  }


  .icon-pencil-custom {
    background:#9dd000;
  }
  .btn-leftsider-toggle {
    &:hover{
      background:#111111;
      color: white;
    }

    &.active {
      background:#9dd000;
      color: white;

      &:hover {
        background:#Ade020;
        color: white;

      }
    }

    float: left;
    padding: 8px 20px 8px 20px;
    margin: 20px 0 0 20px !important;
    background:#000;
    box-shadow: none;
    border: none;
    color: white;
  }

  .row-fluid .span4Custom {
    width:34%;
  }
  .leftpanel {
    #venue,
    #floor,
    #stores,
    #elements{
      width: 100%;
      height: 200px;
      /*overflow-y: auto;*/
      overflow:hidden;
    }


    width:561px !important;
    padding-top:10px !important;
    background-color: white;
    border-right: 1px solid #CCC;
    position: relative;
    z-index: 10;
    min-height: 100%;
    position: fixed;
    left: -561px;

    .scroll-box-wrap {
      width: 100%;
    }
  }

  .leftsliding {
    transition: left 200ms;
    -moz-transition: left 200ms;
    -webkit-transition: left 200ms;
  }

  .custom-btn-group {
    margin-bottom:9px;
  }
  .custom-btn-group > .btn{
    border-color:#fff;
    border:none;
    margin-right:2px;
    text-transform:uppercase;
    font-family: 'HelveticaNeueLTPro-Bd';
    color:#fff;
    font-size:14px;
    text-shadow:none;
    padding:4px 19px 4px 21px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

  }
  .custom-btn-group > .btn:first-child {
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
    margin-right:2px;

  }
  .custom-btn-group > .btn:last-child {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
  }

  .custom-btn-group > .btn:hover {
    border-color: #fff;
  }
  .custom-btn-group > .btn i {
    margin-right:9px;
    margin-top:3px;
  }
  .custom-btn-group > .btn-save {/*,.custom-btn-group > .btn-save:hover {*/
    background:#9dd000;
  }
  .custom-btn-group > .btn-test,.custom-btn-group > .btn-test:hover {
    background:#39befe;
  }
  .custom-btn-group > .btn-deploy,.custom-btn-group > .btn-deploy:hover {
    background:#f8f8f8;
    color:#333333;
  }


  .menuTabs {
    border-top:1px solid #eeeeee;

    > li {
      width:25%;
      text-align:center;

      i, span {
        display:inline;
        float:none;
      }

      > a {
        padding:11px 0 9px 0;
      }
    }

    > .active > a:hover, .menuTabs > .active > a {
      padding:11px 0 9px 0;
    }
  }

  .map-tab-content > .tab-pane {
    width:100%;
    padding:0 0 0 0;
  }
  .mapForm {
    fieldset {
      padding:8px 19px 0px;
      border-bottom:1px solid #eeeeee;
    }

    label {
      font-size:13px;
    }

    input {
      color:#333 !important;
    }

    .add-on {
      color:#999999;
    }

    .btnspan button {
      width:98%;
      margin-left:0;
      margin-right:0;
      padding:5px 0;
    }

    .control-group {
      margin-bottom: 0;
    }

    .btn-active, .btn-active:hover,.btn-pending,.btn-pending:hover {
      border:none;
      background:#9dd000;
      color:#fff;
      text-shadow:none;
      padding:0 12px;
      text-transform:uppercase;
      font-weight:bold;
    }
    .btn-pending, .btn-pending:hover {
      background:#3286ab;
    }
    .btn-invite, .btn-invite:hover,.btn-comment,.btn-delete,.btn-comment:hover,.btn-delete:hover {
      border:none;
      background:#b4c2cc;
      color:#fff;
      margin-right:22px;
      text-shadow:none;
      padding:0 12px;
      margin:0 22px 0 15px;
    }
    .btn-invite i {
      margin-top:2px;
      margin-right:6px;
    }
    .btn-invite i:last-child {
      margin-right:0;
    }

  }
  .tab-content {
    overflow:visible;
    width: 98%;
    margin: auto;
  }

  .pagination-left {
    text-align:left;
  }
  .map-tab-content > .tab-pane {
    width:100%;
    padding:0 0 0 0;
  }
  .mapForm fieldset {
    padding:8px 19px 0px;
    border-bottom:1px solid #eeeeee;
  }
  .mapForm {
    font-size:13px;
  }
  .mapForm input {
    color:#333 !important;
  }
  .tab-content {
    overflow:visible;

    .btn-small {
      padding: 0 12px;
    }
    .tab-header {
      color: #97a1a7;
      font-size: 13px;
    }
  }
  .mapForm .add-on {
    color:#999999;
  }
  .mapForm .btnspan button {
    width:98%;
    margin-left:0;
    margin-right:0;
    padding:5px 0;
  }
  .row-fluid .spanFirst {
    margin-left:0 !important;
  }
  .row-fluid .position input {
    margin-top:26px;
    margin-bottom:0px;
    border-color:#c5c5c5;
    color:#a6aeb3;
  }
  .row-fluid .position label {
    color:#a6aeb3;
  }
  .row-fluid .common-block {
    border-bottom:1px solid #eeeeee;
    padding:4px 0 0 0;
    position:relative;
    float:left;
  }
  .row-fluid .common-block h4 {
    font-size:13px;
    font-weight:normal;
    margin:0 0 2px 0;
  }
  .row-fluid .common-block h4 i {
    margin-right:11px;
  }
  .row-fluid .common-block p {
    color:#97a1a7;
    font-size:13px;
  }
  .marginRight0,.marginRight0:hover {
    margin-right:0;
  }
  .padl19px {
    padding-left:19px;
  }
  .marginLeft0 {
    margin-left:0 !important;
  }
  .padr19px {
    padding-right:19px;
  }
  .operationBlock {
    background:#eeeeee;
    position:relative;
  }
  .operationinner {
    padding:10px 19px 10px 35px;
  }
  .overflow {
    overflow:visible;
  }
  .timepicker {
    font-size:12px !important;
  }
  input[readonly], select[readonly], textarea[readonly] {
    background:#fff;
  }
  .row-fluid .closed {
    padding-top:3px;
  }


  .btn-not-strated,.btn-not-strated:hover {
    background:#999999;
    border:none;
    box-shadow:none;
    color:#fff;
    text-shadow:none;
    margin:0px 0 0 8px !important;
    font-size:10px !important;
    font-family: 'HelveticaNeueLTPro-Bd';
    line-height:14px !important;
    padding:0 4px !important;
  }

  /* map-buttons */
  .icon-minus-extra {
    background-position: 0px -164px;
  }
  .icon-plus-extra {
    background-position: -24px -164px;
  }
  .icon-map {
    background-position: -49px -164px;
  }
  .icon-split {
    background-position: -72px -163px;
  }
  #mapbuttons {
    width: 120px;
    margin: 8px 0 0 10px;
    position: fixed;
    z-index: 10;
    .btn {
      padding: 4px 6px;
      [class^="icon-"], [class*=" icon-"] {
        background-image: image-url("glyphicons-halflings.png");
      }
    }
    .btn-group {
      display: inline-block;
      vertical-align: middle;
    }
  }
  /* map_drawarea */
  #map_area {
    position: absolute;
    left: 0px;
    top: 80px;
    bottom: 0px;
    right: 0px;
    width: auto;
    overflow-x: hidden;
  }
  #map_openmaparea {
    position: absolute;
    background: transparent;
    height: 100%;
    width: 170%;
    overflow-x: hidden;
  }
  .grid {
    background: image-url("grid_bg.png") repeat;
  }
  #map_svgarea {
    position: absolute;
    background: transparent;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: none;
  }
  #map_svgdata > object {

  }
  .longitude-latitude button, .longitude-latitude button:hover {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .hidden-for-all, .hidden-tabs-schedule{
    display:none;
  }
  .posRel {
    position:relative;
  }

  .map-start{margin-top: 80px;}

  .navbar-inverse .map-brand {
    margin:20px 0 0 0;
  }

  .navbar-inverse .map-brand em {
    font-weight:normal;
    font-size:24px;
    color:#fff;
  }
  .btn-not-strated,.btn-not-strated:hover {
    background:#999999;
    border:none;
    box-shadow:none;
    color:#fff;
    text-shadow:none;
    margin:0px 0 0 8px !important;
    font-size:10px !important;
    font-family: 'HelveticaNeueLTPro-Bd';
    line-height:14px !important;
    padding:0 4px !important;
  }
  .navbar-inverse .map-brand p {
    color:#fff;
    font-size:13px;
  }
  .navbar-inverse .map-brand p i {
    font-style:italic;
  }
}

