#plans_tab.tab-pane
  %h2 Change Plans

  .r1ow-fluid
    = render "profiles/plans/partner1"
    = render "profiles/plans/partner2"
    = render "profiles/plans/partner3"
    = render "profiles/plans/partner4"
