<div class="partner">
  <div class="borderwith">
    <h3>PARTNER</h3>
    <div class="letterStyle">
      <br/>
      <p>
        starting from
      </p>
      <i>$</i>
      <i class="i2l">29<sub>/mo</sub></i>
    </div>
    <!--End of changePlan-->
    <ul>
      <li>
        10,000 map views/month
      </li>
      <li>
        Online support
      </li>
      <li>
        Deploy to web, mobile, tablet, kiosk
      </li>
      <li class="libg2">
        No analytics
      </li>
      <li class="libg2">
        poweredbyDRA logo on maps
      </li>
    </ul>
    <button type="submit" class="btn btn-custom position">
      Cancel
    </button>
  </div>
  <!--End of borderwith-->
</div>
