<div class="partner">
  <div class="borderwith">
    <h3>PARTNER</h3>
    <div class="letterStyle">
      <br/>
      <p>
        always
      </p>
      <i>$</i>
      <i class="i2l">0<sub>/mo</sub></i>
    </div>
    <!--End of changePlan-->
    <ul>
      <li>
        Full features
      </li>
      <li>
        Online support
      </li>
      <li class="libg2">
        Upgrade account to deploy maps
      </li>
      <li class="libg2">
        No analytics
      </li>
    </ul>
    <button type="submit" class="btn btn-custom position">
      Sign up
    </button>
  </div>
  <!--End of borderwith-->
</div>
