.modal {
  .modal-header {
    h3 {
      margin: 0;
      line-height: 30px;
      font-size: 18px;
      font-family: helveticaregular;
      font-weight: normal;
    }
  }

  .modal-body {
    color: #97A1A7;
  }


  .modal-footer {
    background-color: #dddddd;
    text-align: center;
    padding: 10px;
  }

  form {
    padding: 70px 0;
  }
}