@font-face {
	font-family: 'SegoeUI';
	src: font-url('segoeui.eot');
	src: font-url('segoeui.eot?#iefix') format('embedded-opentype'),
		 font-url('segoeui.woff') format('woff'),
         font-url('segoeui.ttf') format('truetype'),
         font-url('segoeui.svg#segoeui') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'luzsans-bookluzsans-book';
    src: font-url('luzhporo-webfont.eot');
    src: font-url('luzhporo-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('luzhporo-webfont.woff') format('woff'),
         font-url('luzhporo-webfont.ttf') format('truetype'),
         font-url('luzhporo-webfont.svg#luzsans-bookluzsans-book') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'luzsans-boldluzsans-bold';
    src: font-url('luzhpbro-webfont.eot');
    src: font-url('luzhpbro-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('luzhpbro-webfont.woff') format('woff'),
         font-url('luzhpbro-webfont.ttf') format('truetype'),
         font-url('luzhpbro-webfont.svg#luzsans-boldluzsans-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'HelveticaNeueLTPro-Bd';
	src: font-url('helveticaneueltprobd.eot');
	src: font-url('helveticaneueltprobd.eot?#iefix') format('embedded-opentype'),
		 font-url('helveticaneueltprobd.woff') format('woff'),
		 font-url('helveticaneueltprobd.ttf') format('truetype'),
		 font-url('helveticaneueltprobd.svg#helveticaneueltprobd') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'helveticaregular';
    src: font-url('4864-webfont.eot');
    src: font-url('4864-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('4864-webfont.woff') format('woff'),
         font-url('4864-webfont.ttf') format('truetype'),
         font-url('4864-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'mallrat_font';
	src:font-url('mallrat_font.eot');
	src:font-url('mallrat_font.eot?#iefix') format('embedded-opentype'),
		font-url('mallrat_font.svg#mallrat_font') format('svg'),
		font-url('mallrat_font.woff') format('woff'),
		font-url('mallrat_font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'mallrat_font';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'mallrat_font';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-house:before {
	content: "\e000";
}
.icon-bookmark:before {
	content: "\e002";
}
.icon-cog:before {
	content: "\e001";
}
.icon-search:before {
	content: "\e003";
}
.icon-pencil:before {
	content: "\e005";
}
.icon-checkmark:before {
	content: "\e006";
}
.icon-clipboard:before {
	content: "\e007";
}
.icon-export:before {
	content: "\e008";
}
.icon-star:before {
	content: "\e00c";
}
.icon-flag:before {
	content: "\e00d";
}
.icon-plus:before {
	content: "\e00e";
}
.icon-minus:before {
	content: "\e00f";
}
.icon-menu:before {
	content: "\e010";
}
.icon-arrow-down:before {
	content: "\e011";
}
.icon-arrow-up:before {
	content: "\e012";
}
.icon-calendar:before {
	content: "\e014";
}
.icon-trashcan:before {
	content: "\e013";
}
.icon-comment:before {
	content: "\e015";
}
.icon-location:before {
	content: "\e004";
}
.icon-adjust:before {
	content: "\e016";
}
.icon-contrast:before {
	content: "\e017";
}
.icon-eye:before {
	content: "\e019";
}
.icon-diamond:before {
	content: "\e02e";
}
.icon-soccer:before {
	content: "\e02f";
}
.icon-badge:before {
	content: "\e030";
}
.icon-calendar-2:before {
	content: "\e01d";
}
.icon-phone:before {
	content: "\e031";
}
.icon-coffee:before {
	content: "\e032";
}
.icon-monitor:before {
	content: "\e033";
}
.icon-book:before {
	content: "\e034";
}
.icon-womens_fashions:before {
	content: "\e009";
}
.icon-home:before {
	content: "\e00a";
}
.icon-health_beauty:before {
	content: "\e00b";
}
.icon-wireframe:before {
	content: "\e01a";
}
.icon-unisex:before {
	content: "\e01b";
}
.icon-handicap:before {
	content: "\e01c";
}
.icon-footwear:before {
	content: "\e01e";
}
.icon-team_agent:before {
	content: "\e01f";
}
.icon-stroller:before {
	content: "\e020";
}
.icon-foodcourt:before {
	content: "\e021";
}
.icon-food_services:before {
	content: "\e022";
}
.icon-stairs:before {
	content: "\e023";
}
.icon-split_screen:before {
	content: "\e024";
}
.icon-eyewear:before {
	content: "\e025";
}
.icon-floor:before {
	content: "\e026";
}
.icon-specialty_retail:before {
	content: "\e027";
}
.icon-skytrain:before {
	content: "\e028";
}
.icon-eyedroppper:before {
	content: "\e029";
}
.icon-escalator:before {
	content: "\e02a";
}
.icon-security:before {
	content: "\e02b";
}
.icon-restroom:before {
	content: "\e02c";
}
.icon-entrance:before {
	content: "\e02d";
}
.icon-elevator:before {
	content: "\e035";
}
.icon-restaurants:before {
	content: "\e036";
}
.icon-playarea:before {
	content: "\e037";
}
.icon-customer_service:before {
	content: "\e038";
}
.icon-bus:before {
	content: "\e039";
}
.icon-atm:before {
	content: "\e03a";
}
.icon-mens_fashons:before {
	content: "\e03b";
}
.icon-phone-2:before {
	content: "\e03c";
}
.icon-medical:before {
	content: "\e03d";
}
.icon-layer:before {
	content: "\e03e";
}
.icon-kiosk:before {
	content: "\e03f";
}
.icon-map:before {
	content: "\e040";
}
.icon-users:before {
	content: "\e041";
}
.icon-user-add:before {
	content: "\e042";
}
.icon-user:before {
	content: "\e043";
}
.icon-star-2:before {
	content: "\e044";
}
.icon-mobile:before {
	content: "\e045";
}
.icon-music:before {
	content: "\e046";
}
.icon-checkbox:before {
	content: "\e047";
}
.icon-picture:before {
	content: "\e018";
}
.icon-pictures:before {
	content: "\e048";
}
.icon-pictures-2:before {
	content: "\e049";
}
.icon-locked:before {
	content: "\e04a";
}
.icon-unlocked:before {
	content: "\e04b";
}
.icon-vcard:before {
	content: "\e04c";
}
.icon-credit-card:before {
	content: "\e04d";
}
.icon-envelope:before {
	content: "\e04e";
}

