// Place all the styles related to the floor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map {
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  position: realtive;
  width: 320px;
  height: 480px;
  .floor-plan {
    position:absolute;
    z-index: 1;
  }
  .triangulation {
    position:absolute;
    z-index: 1;
  }
}
