.rightContent {
	float:left;
	width:85%;
	padding:0 0px 0px 0;
	background-color:#FFF;
	margin-bottom:50px;
}
.changePassForm {
	float:left ;
	min-width:602px ;
	padding:0 30px;
}
.btn-custom, .btn-custom:hover {
    float: left !important;
	margin:20px 0 0 0 !important;
}
.changePassForm .fName {
	float:left;
	width:292px;
	margin-bottom:0px;
}
.changePassForm .lName {
	float:left;
	width:292px;
	margin-left:18px;
	margin-bottom:0px;
}
.changePlan {
	float:left;
	width:85%;
	background-color:#FFF
}
.partner {
	float:left;
	width:25%;
}
.borderwith {
	padding:5px;
	display:block;
	overflow:hidden;
}
.borderwith:hover {
	padding:0;
	border:solid 5px #b4c2cc;
}
.partner h3 {
	float:left;
	width:100%;
	font:normal 30px 'luzsans-bookluzsans-book';
	color:#9f9f9f;
	text-align:center;
	padding-bottom:20px;
}
.row-fluid .span6 {
	margin-bottom:0;
}
.letterStyle {
	float:left;
	width:100%;
	text-align:center;
}
.letterStyle p {
	float:left;
	width:80%;
	font:normal 20px 'luzsans-bookluzsans-book';
	color:#9f9f9f;
	text-align:left;
	margin-left:15%;
}
.letterStyle i {
	float:left;
	font:normal 2.8em 'luzsans-bookluzsans-book';
	color:#39befe;
	margin-left:20%;;
}
.letterStyle .i2l {
	font:normal 5em 'luzsans-bookluzsans-book';
	color:#39befe;
	margin-left:0;
}
.letterStyle sub {
	font:normal 20px 'luzsans-bookluzsans-book';
	color:#9f9f9f;	
}
.partner ul {
	float:left;
	width:100%;
	margin-left:10px;
	min-height:10em;
}
.partner li {
	float:left;
	width:85%;
	padding:.2em 0;
	padding-left:20px;
	background:url(../img/li-bg.png) no-repeat 0 5px;
	padding-left:23px;
	list-style:none;
	font:normal 14px 'luzsans-bookluzsans-book';
	color:#666666;
}
.partner .libg2 {
	background:url(../img/li-bg-2.png) no-repeat 0 5px;	
}
.partner .position {
	margin:10px 0 5px 32%;	
	padding:10px 40px;
	font-size:15px;
	font-weight:bold;
}
/*--------*/
#idTab1 {
	width:100%;	
}
#idTab2 {
	width:100%;
	display:none;	
}
#idTab3 {
	width:100%;
	display:none;	
}
#idTab4 {
	width:100%;
	display:none;	
}
#idTab5 {
	width:100%;
	display:none;	
}
.idTabs a.selected,.idTabs a:hover.selected  { 
	background:#0086c9;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;	
}
.idTabs a.selected i,.idTabs a:hover.selected i {
	background:#006496;
}
/*---remaining Task--------*/
.dateContainer {
	float:left;
	width:94%;
	background-color:#dddddd;
	margin-bottom:10px;
	padding:10px 17px 10px 17px;
}
.with514px {
	width:514px;	
}
.with514px p {
	width:100%;
	text-align:center;	
}
.marginb10px {
	margin-bottom:10px;	
	margin-left:0;
}
.closPos {
	margin:20px 20px 0 200px;	
}
.removePro {
	color:#333333;
	font-weight:bold;
}
.removePro:hover {
	text-decoration:none;
}
.controls .span78p {
	width:78%;	
}
.marginB4px {
	margin-bottom:4px;	
}
.row-fluid .fontSize11 {
	font-size:11px;	
}
.nav-tabs > .eventsli {
	width:150px;	
	text-align:center;
}
.nav-tabs > .eventsli i,.nav-tabs > .jobsli i {
	display:inline;
	float:none;	
}
.nav-tabs > .jobsli {
	width:150px;	
	text-align:center;
}
.closPos2, .closPos2:hover {
	margin:18px 20px 0 250px;	
}
.loLabel {
	font:normal 12px 'luzsans-bookluzsans-book';
	color:#97a1a7;
	margin-top:-7px;
}
.padtb70px {
	padding:70px 0;	
}
.btn-invite1 i {
	margin-top:7px;
	margin-bottom:7px;	
}
/*--------------added 5 jan----------*/

.rightContent .userTable .secondth {
    color: #333;
    font:bold 14px 'luzsans-bookluzsans-book';
    padding-bottom: 10px;
    padding-top: 10px;
}