i,em {
  font-style:normal;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-left:0;
}

body {
  font-family: 'helveticaregular';
}

.map {
  position: relative;
  width: 320px;
  height: 480px;
  border: {
    style: solid;
    width: 1px;
    color: #eaeaea;
  }
  img {
    position: absolute;
    width: 320px;
    height: 480px;
  }
}

.btn.btn-small {
  border: none;
  background: #b4c2cc;
  color: #fff;
  text-shadow: none;
  font-size: 11px;
}

.nav-tabs {
  border-color:#eeeeee;
  margin-bottom:10px;

  > li {
    i {
      display: block;
      float:left;
      margin:2px 10px 0 0;
    }

    span {
      display: block;
      float:left;
    }

    > a {
      background:#f8f8f8;
      border-right:1px solid #eeeeee !important;
      margin-right:0;
      border-bottom:1px solid #eeeeee !important;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      color:#333;
      font:13px;
      text-transform:uppercase;
      padding-top:10px;
      padding-bottom:9px;
      padding-left:39px;
      padding-right:39px;
      overflow: hidden;
    }

    > a:hover {
      border-right:1px solid #eeeeee !important;
      border-color:#eee !important;
      background:#f8f8f8;
      border-bottom-color:#eee !important;
      color:#333;
    }
  }

  > .active > a:hover,.nav-tabs > .active > a {
    border-right:1px solid #eeeeee !important;
    border-color:#eee !important;
    border-bottom-color:#fff !important;
    color:#333;
  }
}

.compact-form {
  line-height: 14px;
  label, input, button, select, textarea  {
    font-size: 13px;
    font-family: helveticaregular;
  }
  .control-group {
    margin: 0;
  }
}

.modal {
  .modal-header {
    h3 {
      margin: 0;
      line-height: 30px;
      font-size: 18px;
      font-family: helveticaregular;
      font-weight: normal;
    }
  }

  .modal-body {
    color: #97A1A7;
  }


  .modal-footer {
    background-color: #dddddd;
    text-align: center;
    padding: 10px;
  }

  form {
    padding: 70px 0;
  }
}

.btn-custom, .btn-custom:hover {
  color: #fff;
  text-shadow: 0 -1px #597bc0;
  background: #39befe;
  border: none;
}

footer {
  background:#f8f8f8;
  width:100%;
  height:60px;
  position: fixed;
  bottom:0;
  left:0;

  .container-fluid {
    height:auto;
  }

  .footermin {
    min-width:800px;
    padding-bottom:184px;
  }

  .row-fluid .customOffset2 {
    margin-left: 25.7% !important;
    *margin-left: 25.7% !important;
  }

  ul {
    float:left;
    margin:0;
    padding:36px 0 0 0;
    width:25%;
  }

  li {
    padding-bottom:2px;

    a, strong, em {
      display:block;
      overflow:hidden;
      font-size:13px;
      color:#39befe;
      font:normal 13px/17px 'SegoeUI';
    }

    strong {
      font-size:14px;
      color:#3c4e5a;
      font-family: 'helveticaregular';
    }
  }

  .footerBottom {
    background:#141414;
    min-height:60px;
    line-height:60px;
    text-transform:uppercase;
    color:#fff;
    font-size:12px;

    .contatUs {
      float:right;
      width:150px;
      font:normal 12px 'helveticaregular';
      color:#FFF;
      text-align:right;
      text-transform:none;
      margin:25px 50px 0 0;
    }
  }

  .footerLogo {
    float:left;
    margin:20px 0 0 50px;
  }
}

.navbar-inverse {
  .navbar-inner {
    background:#212121;
    min-height:80px;
  }

  .accountBrand {
    padding:13px 0 0 48px;

    small { font: normal 13px/15px 'helveticaregular'; color: white; float: left; padding: 6px 0 0 10px; }
    em    { font:normal 24px/30px 'luzsans-boldluzsans-bold'; color:#fff; }
    i     { font-size: 20px; float:left; margin-top:2px; }
  }

  .nav > li > a {
    text-transform:uppercase;
    color:#fff;
    padding:5px 17px 5px 17px;
    i { margin-right:10px; }
  }

  .logo {
    display: block;
    float: left;
    padding: 10px 20px 10px 70px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0 1px 0 white;

    &:hover { text-decoration: none; }
  }

  .brand { padding: 13px 0 0 48px; color: #999; }
}

.icon-star-white {
  color:#fff;
}

.navbar .nav {
  margin-right:0;
}

.navbar-inverse .nav .active > a, 
.navbar-inverse .nav .active > a:hover, 
.navbar-inverse .nav .active > a:focus,
.navbar-inverse .nav > li > a:hover {
  background:#101010;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:#fff;
}

.navbar-inverse .nav .active > a:last-child,
.navbar-inverse .nav .active > a:hover:last-child,
.navbar-inverse .nav .active > a:focus:last-child {
  color:#fff;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
