i,em { font-style:normal; }
html,body { height:100%; font-family: 'helveticaregular'; padding-top:0; }
a:link, a:focus, .btn:focus { border:none !important; outline:none; }

path{
  fill: black;
  fill-opacity: .2;
  stroke: white;
  stroke-width: 1.5px;
}

.wrapper {
  .custom-container {
    padding-bottom: 60px !important;
    padding-top: 70px !important;    
  }
  min-height: 100%;
  position: relative;
}

.loginmin {
  padding-top:157px;  
  min-width:600px;
  
  h2 {
    font-size:36px;
    padding-bottom:18px;
      font-family: 'luzsans-bookluzsans-book';
    font-weight:normal;
  }
  label {
    font-size:12px;
    color:#aaaeb1;  
    i {
      color:#333333;      
    }
    a {
      color:#2d78b1;      
    }
    &.checkbox {
      padding: 10px 0 0 0;
      color:#8c9092;  
    }
  } 
  .control-group {
    margin: 0;
  }
}

.row-fluid .customOffset1 {
  margin-left: 29.6% !important;
  *margin-left: 29.6% !important;
}

.control-group {
  .customchk {
    float:left; 
    width:12px; 
    padding:9px 0 0 0;
    margin-right:7px;
  }

  .control-group .spanP {
    float:left;
    width:80%;
    margin-left:0;
    padding-top:10px;
    color:#8c9092;  
  }
}

.btn-primary{
  margin-top:7px; 
  color: #fff; 
  text-shadow: 0 -1px #597bc0;
  background:#39befe;
  border:none;
}

.btn-custom, .btn-custom:hover {
  float:right;  
  margin-top:7px; 
  color: #fff; 
  text-shadow: 0 -1px #597bc0;
  background:#39befe;
  border:none;
}


.accountBody {
  background: image-url('crosshatch_bg.png') repeat;
  
}
.nav-list {
  padding:0;  
}
.nav-list > li > a, .nav-list .nav-header {
  margin:0; 
}
.nav-list > li > a {
  padding:8px 0 8px 0;  
}
.icon-user-custom {
  background-image:none !important; 
}
.nav-list > li > a {
  color:#333; 
}
.nav-list > li > a i {
  background-color:#333333;
  width:24px;
  height:24px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float:left;
  margin:0 10px 0 20px;
  text-align:center;
  margin-right:10px !important;
  color:#fff; 
  line-height:21px;
  padding-top:2px;
}
.nav-list > li > a:hover i,.nav-list > .active > a i, .nav-list > .active > a:hover i {
  background-color:#006496; 
}
[class^="icon-"], [class*=" icon-"] {
  background:none;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
  background:#0086c9;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; 
  color:#fff;
}
.nav-list > li > a:hover {
  background:#f5f5f5; 
  color:#333;
}
.nav-list > li > a:hover i {
  background-color:#333333;
}
.useraccordian,.userTable {
  width:100%;
  background:#eeeeee;
  float:left;
} 
.userTable td,.userTable th {
  border-bottom:1px solid #eeeeee;
  background:#fff;
  border-top:none;
  padding-left:3% !important;
  font-weight:normal; 
  padding-right:0 !important
}
.userTable th:first-child { 
  font:normal 36px/40px 'luzsans-bookluzsans-book';
  color:#212121;
  padding-top:15px; 
  padding-bottom:20px;
}
.userTable .pad0 {
  padding-left:0 !important;  
}
.userTable th:last-child {
  text-align:right;
  font-size:13px;
  line-height:20px;
  color:#97a1a7;  
  padding-top:26px;
}
.userTable .bodernone {
  border:none !important; 
}
.userTable td {
  font-size:13px; 
  padding-top:6px;
  padding-bottom:6px;
}
.topFieldset {
  margin-bottom:15px; 
}
.userTable tr td table td:first-child {
  /*font-family: 'HelveticaNeueLTPro-Bd';*/
}
.userTable td:last-child {
  text-align:right; 
}
.btn-comment,.btn-comment:hover {
  margin-right:-3px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left:0;  
}
.btn-comment.selected {
  background-color:#9ED103 !important;
}
.btn-delete,.btn-delete:hover {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px; 
  margin-left:0;
}
.userTable tr td table {
  width:100%; 
}
.userTable tr td table td {
  padding:0;
  border:none;
  background:none;  
}
.userTable tr td table .midTd i {
  width:16px;
  margin-right:16px;
  float:left; 
  margin-top:3px;
}
.userTable .midTd a,.userTable .midTd a:hover {
  color:#333; 
}
.custom-inner {
  border:none;  
  padding:0 0 0 0;
}
.form-horizontal .custom-control label {
  text-align:left !important;
  font-size:13px !important;
  
}
.form-horizontal .custom-control {
  margin-bottom:0;
  font-family:'helveticaregular';
}
.form-horizontal .custom-control a {
  color:#666;
  float:left; 
  margin-top:5px;
}
.form-horizontal .custom-control .controls {
  margin-left:0;
}
.form-horizontal .custom-control .span7 {
  margin-left:0;  
}
.form-horizontal .custom-control .span7 .controls {
  clear:both; 
} 
.controls .customchk1 {
  float:left;
  width:14px;
  margin-right:5px; 
}
.control-group .spanP1 {
  padding-top:1px;
  text-align:left;
  margin-bottom:0;
  min-height:23px;  
}
.form-horizontal .custom-control a.btn-invite {
  float:right;  
  font-size:13px;
  color:#fff;
}
/*------------------venu--------------------*/
.venuContainer {
  background:#fff;
  padding-top:12px;
  padding-left:9px; 
}
.venuul {
  width:100%; 
  margin-left:0;
}
.venuul li {
  width: 205px; 
  min-height: 250px; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
  background-color: #fff; 
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.5); 
  -moz-box-shadow: 0 3px 8px rgba(0,0,0,.5); 
  box-shadow: 0 3px 8px rgba(0,0,0,.5);
  list-style:none;
  padding:5px 0 0 5px;
  float:left;
  margin:5px 9px 25px 11px;
}
.venuul li:hover {
  width: 205px; 
  min-height: 260px; 
  margin:0px 9px 20px 11px;
}
.venuul li strong {
  display:block;
  overflow:hidden;
  font-family: 'HelveticaNeueLTPro-Bd';
  font-size:18px; 
  clear:both;
  padding-top:3px;
}
.venuul li p {
  font-size:12px;
  margin-bottom:0;  
}
.venuul li img {
  margin:0;
  display:inline;
  max-height:199px;
}
.venuul li span {
  width:198px;
  height:199px;
  overflow:hidden;
  display: table-cell;
    text-align: center;
  vertical-align: middle;
  background: image-url('grid_bg.png') repeat;
  border:1px solid #dddddd;
  border-top:none;
}
* html .venuul li span {
  float:left;
}
*+ html .venuul li span {
  float:left;
}
.venuul li * {
  vertical-align: middle;
}
.venuul li em {
  display: inline-block;
  height:100%;
}
/*------------------content--------------------*/
.contentContainer {
  padding:0;  
}
.content-tab {
  padding:0 50px; 
}
.form-horizontal .custom-control-label {
  width:56px; 
  text-align:left;
  font-size:14px;
  color:#97a1a7;
}
.form-horizontal .custom-controls {
  margin-left:56px; 
}
.custom-input {
  min-width: 250px !important; 
  min-height: 26px !important; 
  -webkit-border-radius: 3px !important; 
  -moz-border-radius: 3px !important; 
  border-radius: 3px !important; 
  background-color: #fff !important;  
  border: solid 1px #ddd !important;  
  transition:none !important;
  box-shadow:none !important;  
}
.marginbottom0 {
  margin-bottom:0;  
}
.row-fluid .addtxt {
  font-size:13px;
  color:#97a1a7;
  padding-top:5px;  
}
.btn-event,.btn-event:hover {
  margin-right:0; 
}
.eventTable {
  clear:both; 
}
.eventTable {
  border-left:1px solid #ddd; 
}
.eventTable th,.eventTable td {
  padding-left:10px;
  border-left:none;
  vertical-align:middle;
  padding-top:5px;
  padding-bottom:5px; 
}
.eventThumbImgFrame {
  width:54px;
  height:54px;
  background:#97a1a7; 
  float:left;
}
.eventTable th a,.eventTable th a:hover {
  color:#000;
  font-size:14px;
  font-weight:normal;
  text-decoration:none; 
}
.eventTable th a i,.eventTable th a:hover i {
  margin-left:10px;
  color:#0086c9;  
  text-decoration:none;
}
.eventTable th em {
  float:left; 
}
.eventTable th a .iconCommon,.eventTable th a:hover .iconCommon  {
  color:#b4c2cc;
  margin-top:2px;
}
.btn-event-common,.btn-event-common:hover {
  margin-right:0px;
  margin-left:4px;  
}
.eventTable .btn {
  float:right !important;
}
.show {
  font-size:14px;
  color:#97a1a7;  
}
.pagination {
  margin-top:0; 
}
.pagination ul li:first-child a {
  color:#5a5a5a;  
}
.pagination ul {
  border:1px solid #eeeeee;
  box-shadow:none;  
}
/*-------------Mapbuilder Page-----------------*/
.icon-pencil-custom {
  /*width:60px;
  height:40px;
  background:#9dd000;
  color:#fff;
  text-align:center;
  line-height:40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; 
  float:left;
  margin-right:20px;*/
  background:#9dd000;
}
.btn-leftsider-toggle {
  float: left;
  padding: 8px 20px 8px 20px;
  margin: 20px 0 0 20px !important;
  background:#000;
  box-shadow: none;
  border: none;
  color: white;
}
.btn-leftsider-toggle:hover {
  background:#111111;
  color: white;
}
.btn-leftsider-toggle.active {
  background:#9dd000;
  color: white;
}
.btn-leftsider-toggle.active:hover {
  background:#Ade020;
  color: white;
}


.mapBuilderContainer {
  background:#fff;
  padding:0 !important;   
}
.row-fluid .span4Custom {
  width:34%;  
}
.leftpanel {
  width:561px !important;
  padding-top:10px !important;
  background-color: white;
  border-right: 1px solid #CCC;
  position: relative;
  z-index: 10;
  min-height: 100%;
  position: fixed;
  left: -561px;
}
.leftsliding {
  transition: left 200ms;
  -moz-transition: left 200ms;
  -webkit-transition: left 200ms;
}
.leftpanel #venue,
.leftpanel #floor,
.leftpanel #stores,
.leftpanel #elements{
  width: 100%;
  /*overflow-y: auto;*/
  overflow:hidden;
}

.custom-btn-group {
  margin-bottom:9px;  
}
.custom-btn-group > .btn{
  border-color:#fff;
  border:none;
  margin-right:2px;
  text-transform:uppercase;
  font-family: 'HelveticaNeueLTPro-Bd';
  color:#fff;
  font-size:14px; 
  text-shadow:none;
  padding:4px 19px 4px 21px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}
.custom-btn-group > .btn:first-child {
   -webkit-border-bottom-left-radius: 6px;
   border-bottom-left-radius: 6px;
   -webkit-border-top-left-radius: 6px;
   border-top-left-radius: 6px;
   -moz-border-radius-bottomleft: 6px;
   -moz-border-radius-topleft: 6px;
    margin-right:2px;

}
.custom-btn-group > .btn:last-child {
   -webkit-border-top-right-radius: 6px;
   border-top-right-radius: 6px;
   -webkit-border-bottom-right-radius: 6px;
   border-bottom-right-radius: 6px;
   -moz-border-radius-topright: 6px;
   -moz-border-radius-bottomright: 6px;
}

.custom-btn-group > .btn:hover {
  border-color: #fff;
}
.custom-btn-group > .btn i {
  margin-right:9px; 
  margin-top:3px;
}
.custom-btn-group > .btn-save {/*,.custom-btn-group > .btn-save:hover {*/
  background:#9dd000;
}
.custom-btn-group > .btn-test,.custom-btn-group > .btn-test:hover {
  background:#39befe;
} 
.custom-btn-group > .btn-deploy,.custom-btn-group > .btn-deploy:hover {
  background:#f8f8f8;
  color:#333333;
}
.menuTabs {
  border-top:1px solid #eeeeee; 
}
/*.nav-tabs > li > .venu {
  padding: 11px 32px 9px 33px;
} 
.nav-tabs > li > .floor {
  padding: 11px 32px 9px 29px;  
}
.nav-tabs > li > .stores {
  padding: 11px 25px 9px 25px;  
}
.nav-tabs > li > .elements {
  padding: 11px 21px 9px 21px;  
}
*/.pagination-left {
   text-align:left;
}
.row-fluid .spanFirst {
  margin-left:0 !important; 
}
.row-fluid .position input {
  margin-top:26px;
  margin-bottom:0px;
  border-color:#c5c5c5;
  color:#a6aeb3;  
} 
.row-fluid .position label {
  color:#a6aeb3;  
}
.row-fluid .common-block {
  border-bottom:1px solid #eeeeee;
  padding:4px 0 0 0;  
  position:relative;
  float:left;
}
.row-fluid .common-block h4 {
  font-size:13px;
  font-weight:normal;
  margin:0 0 2px 0;
}
.row-fluid .common-block h4 i {
  margin-right:11px;  
}
.row-fluid .common-block p {
  color:#97a1a7;  
  font-size:13px;
}
.marginRight0,.marginRight0:hover {
  margin-right:0;
} 
.padl19px {
  padding-left:19px;  
}
.marginLeft0 {
  margin-left:0 !important; 
}
.padr19px {
  padding-right:19px; 
}
.operationBlock {
  background:#eeeeee; 
  position:relative;
}
.operationinner {
  padding:10px 19px 10px 35px;
} 
.overflow {
  overflow:visible; 
}
.timepicker {
  font-size:12px !important;  
}
input[readonly], select[readonly], textarea[readonly] {
  background:#fff;    
}
.row-fluid .closed {
  padding-top:3px;  
}
/*----------------floorTab---------------*/
.floorheader {
  background:#0086c9;
  margin-top:0;
  font-weight:normal; 
  color:#fff; 
  margin-bottom:0;
}
.floorheader i {
  margin:4px 0 0 19px;
  font-size:18px;
  cursor:pointer;
  color:#39befe;
  float:left;
  line-height:32px !important;  
}
.floorheader p {
  font-size:14px;
  font-weight:bold;
  color:#fff;
  margin-bottom:0;
}
.row-fluid .inputHeight {
  min-height:20px;
  font-size:12px;
  color:#333;
  padding-left:0px;
}
.marginRight10 {
  margin-right:10px;
  margin-left:15px; 
}
.marginBottom0 {
  margin-bottom:0;  
}
#floor ul, li {margin: 0px; padding: 0px; list-style: none;}

#floor .tab-wrap {
/*  width: 560px;*/
}

#floor .group .item {
  border-bottom: 1px solid #eee;
  padding: 5px 10px 5px 20px;
  line-height: 20px;
}

#floor .group .item:hover {
  background: #eeeeee;
}

#floor .group .item .icon {
  margin: 2px 15px 0px 0px;
  cursor: pointer;
}

#floor li.active > .item,
#floor li.active:hover > .item {
  background-color: #0086c9;
}

#floor .item .input,
#floor .item .text-input {
  height: 20px;
  padding: 0px;
  width: 44px;
  margin: 0px 20px 0px 0px;
  border: none;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
  border-radius: 5px;
  font-weight: bold;
}

#floor .item .text-input {
  padding: 0px 5px;
  width: 100px;
  margin: 0px 0px 0px -6px;
  text-align: left;
  font-weight: normal;
}

#floor .item .checkbox {
  margin: 0px;
}

#floor .sub-group .item {
  padding-left: 48px;
}

#floor .sub-group2 .item {
  padding-left: 76px;
}

#floor .tab-wrap .btn-group .btn {
  padding: 0px 13px;
  margin: 0px 1px 0px 0px;
  border: none;
  background: #b4c2cc;
}

#floor .tab-wrap .btn-group .btn.active,
#floor .tab-wrap .btn-group .btn:hover {
  background: #9dd000;
}

#floor .tab-wrap .btn-group .btn [class^="icon-"] {
/*  background-image: url("../img/glyphicons-halflings-white.png");*/
  color: white;
}

#floor .text-gray {
  color: #97a1a7;
  margin-right: 10px;
}
#floor .icon-minus.active:before {
  content: "\f067";;
}
/*----------------elementTab---------------*/

.tab-pane .emstyle{
  float:left;
  width:100%;
  font:normal 13px "Myriad Pro";
  color:#39befe;
  padding:8px 0 10px 10px;
}

.tab-pane .customWith {
  float:left;
  width:20%;
  height:80px;
  text-align:center;
}
.tab-pane .customWith i {
  margin-top:25px;
}
.customWith em {
  display:block;
  overflow:hidden;
  text-align:center;
  font-size:13px; 
}
.tab-pane .customWith:hover {
  background-color:#f8f8f8;
}
.tab-pane .active2  {
  float:left;
  width:20%;
  height:80px;
  text-align:center;
  background-color:#9dd000;
}
.tab-pane .customWith i {
  text-align:center;
  font-size:24px;
  margin-left:-10px;
}
/*---------------elementButtons-----------------------*/
.btngroupContainer {
  width:560px;
  float:left;
  position:relative;
}
.btngroupContainer .emstyle {
  display:block;
  clear:both; 
}
.btn-group > .btn-element {
  background:none;
  border:none;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  padding: 18px 12px 13px;
  width:112px;
  float:left;
}
.btn-group > .btn-element:hover {
  background-color:#f8f8f8;
}
.btn-group > .btn-element i {
  font-size:24px;
  width:auto !important;
}
.btn-group > .btn-element em {
  padding-top:6px;
  display:block;  
} 
.btn-group > .btn-element:first-child,.btn-group > .btn-element:last-child {
  -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.btn-group > .btn-element:hover,
/*.btn-group > .btn-element:focus,
.btn-group > .btn-element:active,*/
.btn-group > .btn-element.active,
.btn-group > .btn-element.active:hover {
  background-color:#9dd000; 
  color:#fff; 
  text-shadow:none;
}
.btn-group > .btn-element + .btn-element {
  margin-left:0;  
}
.btn-group > .btn-element:hover {
  background-color:#f8f8f8;
  color:#333;
}
.btn-group > .btn-element:active:hover {
  background-color:#bade4c; 
  color:#fff; 
  text-shadow:none;
}

/* map-buttons */
.icon-minus-extra {
  background-position: 0px -164px;
}
.icon-plus-extra {
  background-position: -24px -164px;
}
.icon-map {
  background-position: -49px -164px;
}
.icon-split {
  background-position: -72px -163px;
}
#mapbuttons {
  width: 120px;
  margin: 8px 0 0 10px;
  position: fixed;
  z-index: 10;
  .btn {
    padding: 4px 6px;
    [class^="icon-"], [class*=" icon-"] {
      background-image: image-url("glyphicons-halflings.png");
    }
  }
  .btn-group {
    display: inline-block;
    vertical-align: middle;
  }
}
/* map_drawarea */
#map_area {
  position: absolute;
  left: 0px;
  top: 80px;
  bottom: 0px;
  right: 0px;
  width: auto;
  overflow-x: hidden;
}
#map_openmaparea {
  position: absolute;
  background: transparent;
  height: 100%;
  width: 170%;
  overflow-x: hidden;
}
.grid {
  background: image-url("grid_bg.png") repeat;
}
#map_svgarea {
  position: absolute;
  background: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: none;
}
#map_svgdata > object {
  
}
.longitude-latitude button, .longitude-latitude button:hover {
  padding-top: 4px;
  padding-bottom: 4px;
}
.hidden-for-all, .hidden-tabs-schedule{
  display:none;
}
.posRel {
  position:relative;
}
/*-------------venuTab------------------*/
.formNormal input {
  margin-left:8px !important; 
}
.hidden-for-all {
  margin-bottom:20px;
  padding-top:10px !important;
}
.formNormal .dateInputCustom {
  border-right:none !important;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-left:0 !important; 
} 
.addonCustom {
     display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
        border-radius: 4px;
   margin-top:10px;
   margin-left:-6px;  
   background-color: #ffffff;
   border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s; 
      
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;   
}
.maginnegative {
  margin-top:-10px !important;  
}
.hrOpsBlockHead {
  min-height:30px;
  display:block;
}
/*-----------------storeTab----------------*/
      #stores .draggable { 
        width: 90px; height: 90px; padding:15px 0 0 60px;
      }
      #stores .draggable .right{
        float:left;
        width:auto;
      }
      #stores .table{
        /*max-width:560px;*/
      }
      #stores .table input, .table textarea, .table select{
        font-size:13px;
      }
      #stores .form-inline{
        padding-top:20px;
      }
      #stores .form-inline .left{
        float:left;
        width:auto;
      }
      #stores .item_title{
        font-weight:normal;
        font-size:14px;
        color:#97a1a7;
      }
      #stores .table th{
        font-weight:normal;
        padding-right:20px;
        padding-left:20px;
        padding-bottom:0;
        border-top:none;
      }
      #stores .table th:hover {
        background:none !important; 
      }
      #stores .table tr{
        overflow:hidden;
        font-size:13px;
      }
      #stores .lftbtn{
        float:right;
        padding-right:10px;
      }
      #stores .item tr td{
        padding-left:15px !important;
      }
      #stores .table tr td{
        background:#fff;
      }
      #stores .table td{
        /*padding:3px 0 6px 0;*/
        padding:2px 20px 0 8px;
      }
      #stores .table tbody tr.item td{
        background:#fff;
      }
      #stores .table tbody tr.item:hover td{
        background:#0086c9;
        color:#fff;
      }
      #stores tr.item_hide, tr.item_hide td{
        padding:0 10px !important;
        margin:0 !important;
        border:none !important;
        background:#eeeeee !important;
      }
      #stores #txtboxarea{
        width:100%;
        display:block;
        float:left;
      }
      #stores #txtboxarea textarea{
        width:500px;
        /*width: 100%;*/
      }
      #stores .txtrow{
        position:relative;
        top:4px;
        left:15px;
      }
      
      .hide {
        display:none;
      }
      #stores .storeListTable .storeInfoBody td {
        background:#eee;    
      }
      
.collapseInfo {
  margin-top:-47px;
  position:relative;
  z-index:1;  
}
.row-fluid .zIndex {
  z-index:100;
  position:relative;
}       
/*#stores .table tr:hover td {
  background:#0086c9;
  color:#fff;
}*/
.stroreInfoTitle {
  font-family: 'HelveticaNeueLTPro-Bd'  !important;  
}
/*-------floor---------*/
.tab-pane .pcolor {
  color:#97a1a7;  
}
.btn-floor > .btn {
  border-color:#FFF;
  background:#b4c2cc;
  padding:0 12px;
  color:#FFF;
  text-shadow:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tab-pane .pMargin {
  margin-bottom:0;
}
.tab-pane .fluid-border {
  float:left;
  border-bottom:solid 1px #eeeeee;  
}
.tab-pane .fluid-border-none {
  border-bottom:none; 
}
.tab-pane .minht {
  min-height:10px;
  padding-top:5px;
}
.tab-pane .linehight {
  min-height:27px;
}
.tab-pane .fontsize {
  font-size:13px; 
}
.row-fluid .selectedfloor {
  background-color:#eeeeee; 
}
.tab-pane .btn-hselect {
  background-color:#9dd000;
}
.tab-pane .headenflor {
  float:left;
  background-color:#eeeeee;
}
.row-fluid .marginl19 {
  margin-left:19px !important;  
}
.row-fluid .marginr19 {
  margin-right:19px !important; 
}
.selectedfloor .btn-floor > .btn {
  border:none;
  margin-right:2px; 
}
.selectedfloor .btn-floor > .btn:last-child {
  border-right-color:#eee;  
}
.row-fluid .imgDrag {
  float:left;
  margin:0 5px 10px 5px;  
}
.row-fluid .colorPlus {
  color:#39befe;  
}
.row-fluid .padl57px {
  float:left;
  padding-left:50px;  
}
.row-fluid .inputWith100 {
  width:100px;  
}
.colorPlus {
  margin-right:8px; 
}
.padleft {
  padding-left:42px;
} 

.sliderBar {
  width:50%;
}
.sliderBar {
  float: left;
  width: 50%;
  height:10px;
  border-color:#aaa;
  margin:5px 10px 15px 10px;
}
.sliderBar .ui-slider-range { 
  background: rgb(3,151,215);
  background: -moz-linear-gradient(top,  rgba(3,151,215,1) 0%, rgba(0,102,203,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(3,151,215,1)), color-stop(100%,rgba(0,102,203,1)));
  background: -webkit-linear-gradient(top,  rgba(3,151,215,1) 0%,rgba(0,102,203,1) 100%);
  background: -o-linear-gradient(top,  rgba(3,151,215,1) 0%,rgba(0,102,203,1) 100%);
  background: -ms-linear-gradient(top,  rgba(3,151,215,1) 0%,rgba(0,102,203,1) 100%);
  background: linear-gradient(to bottom,  rgba(3,151,215,1) 0%,rgba(0,102,203,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0397d7', endColorstr='#0066cb',GradientType=0 );
}
.sliderBar .ui-slider-handle { 
  border-color: #ccc; 
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(254,254,254,1) 27%, rgba(231,231,231,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(27%,rgba(254,254,254,1)), color-stop(100%,rgba(231,231,231,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 27%,rgba(231,231,231,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 27%,rgba(231,231,231,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 27%,rgba(231,231,231,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(254,254,254,1) 27%,rgba(231,231,231,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );

}

.scroll-box {
  overflow:hidden;
}
      
.scroll-box-wrap {
  float:left;
  width:100%;
  overflow:hidden;
}

.floorInfoDetailsBtns a.active,
.floorInfoFixedAttrEye.active {
  background-color: #9DD000;
}
.row-fluid .marginl0 {
  margin-left:0;
}
.cursorPointer {
  cursor:pointer;
}
.svgDropHere {
  background:image-url('layer.png') no-repeat center 26px;
  width:250px;
  height: 87px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border:4px dashed #dddddd;
  margin-left:19px;
  position:relative;
}
.svgDropHere p {
  position:absolute;
  bottom:4px;
  text-align:center;
  display:block;
  font-size:13px;
  color:#aab2b7;
  width:250px;
  margin-bottom:0;  
}
.floorInfoTitle {
  font-weight:bold !important;  
}
.marginLeft10 {
  margin-left:10px; 
}
.clorBlack {
  color:#000000 !important;
  margin-bottom:5px !important; 
  line-height:20px !important;
  min-height:20px !important;
  font-size:13px !important;  
  
} 
.storeListTable p {
  margin-bottom:5px !important;
  font-size:13px !important;  
}
/*--------31dec-----*/
.font11 {
  font-size:11px; 
}

.selectedfloor .btn-floor > .btn {
    padding-bottom: 2px;
}

/*-----------added----------*/
.modal-header .spanf {
  width:100%; 
}
.requestAcc {
  font:normal 18px 'helveticaregular';
  color:#333333;  
}
.borNon {
  border:none;  
}
.padr30px {
  padding-right:30px;
  padding-top:5px;
}
.formFooter {
  float:left;
  width:100%;
  height:58px;
  background-color:#dddddd;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px; 
}
.requestbtn {
  margin:15px 235px 0 0px;
  text-align:center;
}

.margintb100 {
  margin:100px 0; 
}
.dropdown-menu {
  z-index:100000000;
}

.table-striped thead > tr:nth-child(2n+1) > th,
.table-striped tbody > tr:nth-child(2n) > td {
  background-color: #F9F9F9;
}

.table-striped tbody > tr:nth-child(2n+1) > td {
  background-color: #FFF;
}

table.dataTable.eventInfoListTable thead th {
  padding:5px 0 5px 10px;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  border-bottom: none;
}
.eventInfoListTableContainer .dataTables_filter {
  display:none;
}
.eventInfoListTableContainer .dataTables_info,
.eventInfoListTablePagination {
  margin-top:20px;
}
.accounth2 {
  color: #212121;
  padding-top:8px;
    font: 36px/40px 'luzsans-bookluzsans-book'; 
}

