// Place all the styles related to the floor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map {
  position: relative;
  width: 320px;
  height: 480px;
  border: {
    style: solid;
    width: 1px;
    color: #eaeaea;
  }
  img {
    position: absolute;
    width: 320px;
    height: 480px;
  }
}
