/*------------------venu--------------------*/
.venuContainer {
  background:#fff;
  padding-top:12px;
  padding-left:9px; 
}
.venuul {
  width:100%; 
  margin-left:0;
}
.venuul li {
  width: 205px; 
  min-height: 250px; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
  background-color: #fff; 
  -webkit-box-shadow: 0 3px 8px rgba(0,0,0,.5); 
  -moz-box-shadow: 0 3px 8px rgba(0,0,0,.5); 
  box-shadow: 0 3px 8px rgba(0,0,0,.5);
  list-style:none;
  padding:5px 0 0 5px;
  float:left;
  margin:5px 9px 25px 11px;
}
.venuul li:hover {
  width: 205px; 
  min-height: 260px; 
  margin:0px 9px 20px 11px;
}
.venuul li strong {
  display:block;
  overflow:hidden;
  font-family: 'HelveticaNeueLTPro-Bd';
  font-size:18px; 
  clear:both;
  padding-top:3px;
}
.venuul li p {
  font-size:12px;
  margin-bottom:0;  
}
.venuul li img {
  margin:0;
  display:inline;
  max-height:199px;
}
.venuul li span {
  width:198px;
  height:199px;
  overflow:hidden;
  display: table-cell;
    text-align: center;
  vertical-align: middle;
  background: image-url('grid_bg.png') repeat;
  border:1px solid #dddddd;
  border-top:none;
}
* html .venuul li span {
  float:left;
}
*+ html .venuul li span {
  float:left;
}
.venuul li * {
  vertical-align: middle;
}
.venuul li em {
  display: inline-block;
  height:100%;
}