<div class="tab-pane" id="elements">
  <div class="scroll-box-wrap store-scroll-box-wrap antiscroll-wrap">
    <div class="scroll-box">
      <div class="antiscroll-inner">
          <div class="btngroupContainer btn-group">
            <em class="emstyle">Structural</em>
            <button class="btn btn-element" type="button"><i class="icon-entrance"></i><br/><em>Entrance</em></button>
            <button class="btn btn-element" type="button"><i class="icon-elevator"></i><br/><em>Elevator</em></button>
            <button class="btn btn-element" type="button"><i class="icon-escalator"><br/></i><em>Escalator</em></button>
            <button class="btn btn-element" type="button"><i class="icon-stairs"></i><br/><em>Stairs</em></button>
            <button class="btn btn-element" type="button"><i class="icon-bus"></i><br/><em>Bus</em></button>
            <button class="btn btn-element" type="button"><i class="icon-skytrain"></i><br/><em>Skytrain</em></button>
            <button class="btn btn-element" type="button"><i class="icon-kiosk"></i><br/><em>Kiosk</em></button>
            <em class="emstyle">Amenity</em>
            <button class="btn btn-element" type="button"><i class="icon-stroller"></i><br/><em>Stroller</em></button>
            <button class="btn btn-element" type="button"><i class="icon-foodcourt"></i><br/><em>Food Court</em></button>
            <button class="btn btn-element" type="button"><i class="icon-phone-2"><br/></i><em>Pay Phone</em></button>
            <button class="btn btn-element" type="button"><i class="icon-restroom"></i><br/><em>Restroom</em></button>
            <button class="btn btn-element" type="button"><i class="icon-playarea"></i><br/><em>Play Area</em></button>
            <button class="btn btn-element" type="button"><i class="icon-atm"></i><br/><em>ATM</em></button>
            <button class="btn btn-element" type="button"><i class="icon-handicap"></i><br/><em>Handicap</em></button>
            <button class="btn btn-element" type="button"><i class="icon-security"><br/></i><em>Security</em></button>
            <button class="btn btn-element" type="button"><i class="icon-customer_service"></i><br/><em>Customer Service</em></button>
          </div>
        </div>
      </div>
    </div>
</div>
