#floor.tab-pane
  .scroll-box-wrap.floor-scroll-box-wrap.antiscroll-wrap
    .scroll-box
      .antiscroll-inner
        .tab-content
          %span.row-fluid.tab-header
            %a.btn.btn-invite.btn-small.pull-right{:type=>"button"}
              %i.icon-plus.font11
              %i.icon-floor.font11
            %p.span6 Add New Floor

          = render mall.floors













