<span class="row-fluid pull-left floorInfoAttr">
  <span class="row-fluid">
    <p class="span6 padl19px pMargin linehight fontsize">
      <i class="icon-plus colorPlus pull-left floorInfoSubAttrInfoShowHide cursorPointer"></i>
      <span class="floorInfoAttrTitle"><%= name %></span>
    </p>                                      
    
    <span class="span6 pagination-right pull-right padr19px linehight">
      <div class="btn-group btn-floor">
        <a class="btn floorInfoFixedAttrComment" type="button"><i class="icon-comment"></i></a>
        <a class="btn floorInfoFixedAttrEye" type="button" data-toggle="buttons-radio"><i class="icon-eye"></i></a>
        <a class="btn" type="button"><i class="icon-eyedroppper"></i></a>
        <a class="btn" type="button"><i class="icon-wireframe"></i></a>
        <a class="btn floorInfoFixedAttrDelete" type="button"><i class="icon-trashcan"></i></a>
      </div>
    </span>
  </span>
  <span class="row-fluid floorInfoSubAttrInfo">
    <% floor.polygons.where("label LIKE ?", "#{name}%").each do |polygon| %>
      <span class="row-fluid pull-left floorInfoSubAttr fontsize">
        <p class="span6 pMargin padl57px linehight floorInfoSubAttrTitle">Object ID</p>
        <span class="span5 padl57px marginl0 floorInfoSubAttrTitleField">
          <input class="span10" type="text" placeholder="Object ID" value="<%= polygon.label %>" />
        </span>
      </span>
    <% end %>
  </span>
</span>