<span class="span6 pagination-right pull-right padr19px linehight">
  <div class="btn-group btn-floor">
    <a class="btn floorInfoAttrComment btn-hselect" type="button"><i class="icon-comment"></i></a>
    <a class="btn floorInfoFixedAttrEye" type="button" data-toggle="buttons-radio"><i class="icon-eye"></i></a>
    <a class="btn" type="button"><i class="icon-pencil"></i></a>
    <a class="btn" type="button"><i class="icon-wireframe"></i></a>
    <a class="btn floorInfoAttrDelete" type="button"><i class="icon-trashcan"></i></a>
  </div>
</span>