<span class="row-fluid hrOpsBlockHead fluid-border minht headenflor hide floorInfoComment">
  <input class="span11 marginl19 pagination-centered" type="text" placeholder="Floor abbreviation (max 2 characters)" maxlength="2"  />
  <span class="span6 marginLeft0 svgDropZone">
    <div class="svgDropHere"><p>Drag or click here to add Floor SVG</p></div>
    <input class="fileupload" type="file" name="files[]" data-url="fileupload/server/php/" style="display:none;">
  </span>

  <span class="span6 marginLeft0 svgDropZone">
    <div class="svgDropHere"><p>Drag or click here to add a Source Map</p></div>
    <input class="fileupload" type="file" name="files[]" data-url="fileupload/server/php/" style="display:none;">
  </span>
</span>