<span class="row-fluid hrOpsBlockHead fluid-border minht headenflor hide floorInfoAdjust">
  <span class="row-fluid">
    <p class="pull-left offset2">0%</p>
    <div class="sliderBar pull-left"></div>
    <p class="pull-left">100%</p>
  </span>
</span>