<div class="tab-pane" id="stores">
  <div class="scroll-box-wrap store-scroll-box-wrap antiscroll-wrap">
    <div class="scroll-box">
      <div class="antiscroll-inner">
        <table class="table table-hover storeListTable">
          <tr class="item_title">
            <th><!--Add a store<span class="lftbtn addStoreBtn"><i class="icon-plus"></i><i class="icon-star"></i></span>-->
              <p class="span6 marginbottom0">Add a store</p>
              <span class="span6 pagination-right">
                <a class="btn btn-invite marginRight0 addStoreBtn" type="button">
                  <i class="icon-plus font11"></i>
                  <i class="icon-star font11"></i>
                </a>
              </span>
            </th>
          </tr>
          <!--<tr class="item hide storeInfoToCloneHead">
            <td>
              <span class="txtrow hide stroreInfoTitle span6">
                <input name="chk-1" type="checkbox" value="1" class="hrOpsStyledCheckbox">[no vendor selected yet]
              </span>
              <span class="lftbtn span6 pull-right pagination-right">
                <i class="icon-comment storeInfoCollapse"></i><i class="icon-trash storeInfoDelete"></i>
              </span>
            </td>
          </tr>-->
          <tr class="hide storeInfoToCloneBody">
            <td>
              <span class="txtrow hide stroreInfoTitle span6">
                <span class="customchk">
                  <input name="chk-1" type="checkbox" value="1" class="hrOpsStyledCheckbox">
                </span>[no vendor selected yet]
              </span>
              <span class="span2 pagination-right pull-right zIndex">
                <a class="btn btn-comment storeInfoCollapse selected" type="button"><i class="icon-comment"></i></a>
                <a class="btn btn-delete storeInfoDelete marginRight0" type="button"><i class="icon-trashcan"></i></a>
              </span>
              <div class="collapseInfo span11">
                <form class="form-inline">
                  <div class="left span6">
                    <p>
                      <label class="span12 clorBlack">Store Name</label>
                      <input type="text" class="span12 vendorTitle" data-provide="typeahead" data-items="4" data-source='["Armani Exchange","Aritzia","Bluenotes","Bebe","Coles","David’s Tea","EB Games","GAP","Gymboree","JACOB","London Drugs","Mastercuts","Opa!"]' placeholder="Choose a Store">
                    </p>
                    <p>
                      <label class="span12 clorBlack">Category</label>
                      <select class="selectpicker span12">
                        <option>Select a Category</option>
                        <option>Major</option>
                        <option>Cards, Books, Gifts</option>
                        <option>Children's Fashions</option>
                        <option>Eyewear &amp; Optometry</option>
                        <option>Food Services</option>
                        <option>Food Specialty</option>
                        <option>Footwear</option>
                        <option>Health &amp; Beauty</option>
                        <option>Home</option>
                        <option>Jewellery &amp; Accessories</option>
                        <option>Medical &amp; Dental</option>
                        <option>Men's Fashions</option>
                        <option>Photo &amp; Electronics</option>
                        <option>Restaurants</option>
                        <option>Services</option>
                        <option>Specialty Retail</option>
                        <option>Sporting Goods &amp; Apparel</option>
                        <option>Telecommunications</option>
                        <option>Unisex Fashions</option>
                        <option>Women's Fashions</option>
                      </select>
                    </p>
                    <p><label class="span12 clorBlack">Phone</label><input class="span12" type="text" placeholder="(xxx) xxx - xxxx"></p>
                  </div>
                  <div class="left span3">
                    <div class="draggable">
                      <p><img src="<%= asset_path "drag-drop.png" %>" alt=""></p>
                    </div>
                  </div>
                  <div id="txtboxarea">
                    <p><label class="span12 clorBlack">Description</label><textarea rows="3" cols="" class="span12"> </textarea></p>
                  </div>
                </form>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
