<% provide(:title, 'MapBuilder') %>

<div class="mapBuilderContainer">
  <div class="row-fluid">
    <%= render 'left_panel' %>
    
    <div id="mapbuttons" class="leftsliding">
      <div class="btn-group">
        <button class="btn btn-map-zoomout"><i class="icon-minus-extra"></i></button>
        <button class="btn btn-map-zoomin"><i class="icon-plus-extra"></i></button>
      </div>
      <button class="btn btn-map-openstreet" data-toggle="button"><i class="icon-map"></i></button>
      <button class="btn btn-map-split" data-toggle="button"><i class="icon-split"></i></button>
    </div><!--/map buttons-->
    
    <div id="map_area" class="row-fluid grid custom-container leftsliding">
      <div id="map_openmaparea" class="row-fluid custom-container" style="display:none;">
      </div>
      <div id="map_svgarea" class="row-fluid custom-container">
        <object data="img/test2.svg" type="image/svg+xml" width="640px" height="960px" style="left: 400px; display: block; margin: 20px 0 0 250px;"></object>
      </div>
    </div>
  </div><!--/row-->
</div>