<div class="venuContainer">
  <ul class="venuul">
    <% @malls.each do |mall| %>
    <li>
      <%= link_to mapbuilder_mall_path(mall) do %>
      <span>
        <% if !mall.floors.empty? %>
        <%= image_tag(svg_mall_floor_path(mall, mall.floors[0]), size: "100x194")  %>
        <% end %>
      </span>
      <strong><%= mall.name %></strong>
      <p><%= mall.address %></p>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>