<div class="row-fluid">
  <ul class="venuul">
  	<li><%= link_to mapbuilder_mall_path do %>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p><% end %>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
    <li>
    	<span><em></em><object data="img/test2.svg" type="image/svg+xml" width="200px" height="194px"></object></span>
      <strong>California Mills</strong>
      <p>Richmond, BC</p>
    </li>
  </ul>
</div><!--/row-->